/*Color*/
$white-col: #fff;
$blue-col: #09c;
// $black-col: #000;
$grey-col: #6B6D70;
$org-col: #FF8616;
$dark-org-col: #F36F21;
$black-col: #231F20;

/*media query*/
$laptop-width: 1200px;
$desktop-width: 1024px; 
$tablet-width: 768px;
$mobile-width: 767px;


