
.nav{
    padding: 0;
    list-style-type: none;
    li{ 
        font-size: 16px;
        line-height: 24px;
        color: #565455;
        font-weight: 400;
        letter-spacing: 1px;
        .nav-link{
            font-size: 16px;
            line-height: 24px;
            color: #565455;
            font-weight: 400;
            letter-spacing: 1px;
            &:hover{
                color: $dark-org-col;
            }
            &.active{
                color: $dark-org-col;  
            }
        }
        &.active{
            .nav-link{
                color: $dark-org-col; 
            }
        }
    }
}
.sticky-sidebar{
    li{
        display: block;
        padding: 20px 0;
        border-bottom: 1px solid #CFCECE; 
        &:last-child{
            border-bottom: 0;  
        }
    }
}
.sticky-nav-block{
    position: absolute;
    width: 170px;
    top: 198px;
    left: 8.3%;
    padding: 30px 40px 30px 40px; 
    background-color: #ECECEC;
    &.fixed{
        position: fixed;
        top: 69px;
        z-index: 2; 
    }
    &.white-bg{
        background-color: #fff;
        box-shadow: 0px 0px 6px 0 rgba(0, 0, 0, 0.2); 
    }
}
.sticky-con-pad{
    padding-left: 350px;
}


//Tab styling
.tab-section{
    @include flexbox;
    @include justify-content(center);
    @include align-items(center);
    margin-bottom: 100px;
    list-style-type: none;
    .tab-head{
        font-size: 0;
        list-style-type: none;
        padding: 0;  
    }
    .tab-item{
        display: inline-block;
        list-style-type: none;
        border-bottom: 3px solid #FFE1C5; 
        &.active{
            border-color: #FF8616; 
        }
        .tab-link{
            display: inline-block;
            font-size: 16px;
            line-height: 30px;
            color: #8D8788;
            letter-spacing: 0.8px;
            padding: 15px 25px; 
        }

    }
}