.header {
    position: fixed;
    width: 100%;
    height: 68px;
    background-color: $white-col;  
    box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.1);
    z-index: 2; 
    transition: all 0.4s; 
    @media only screen and (max-width: 1024px) {
        height: 61px;
    }
}  
.header-wrap{ 
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
.header-pad {
    @include flexbox;
    @include justify-content(space-between); 
    @include align-items(center);
    align-items: center;
    // padding: 8px 0px;
    @media only screen and (max-width: 1024px) {
        padding: 8px 10px; 
        display: block;
    }
}
.logo{
    @media only screen and (max-width: 1024px) {
        width: 150px;
    }
}
.sticky-nav-tabs{
    @media only screen and (max-width: 1024px) {
        position: absolute;
        width: 100%;
        background: rgb(255, 255, 255);
        top: 61px;
        transition: all 0.5s ease;
        height: 0;
        overflow: hidden;
        left: 0;
        float: none;
        margin-top: 0;
    }    
}
.sticky-nav-tabs-container{
    padding: 0;
    list-style-type: none;
    @media only screen and (max-width: 1024px) {
        border-top: 1px solid #ddd;
    }
    li{
        display: inline-block;
        position: relative;
        font-size: 16px;
        line-height: 20px;
        color: $black-col;
        letter-spacing: 1.25px;
        font-weight: 400;
        margin-left: 65px;
        @media only screen and (max-width: 1024px) {
            display: block;
            margin: 0;
        }
        &:first-child{
            margin-left: 0;
        }
        &:last-child{
            margin-left: 20px;
            @media only screen and (max-width: 1024px) {
                margin: 0;
                padding: 15px 20px;  
            }
        }
        .sticky-nav-tab{ 
            display: block;
            font-size: 16px;
            line-height: 20px;
            color: $black-col;
            letter-spacing: 1.25px;
            font-weight: 400;
            padding: 24px 0;
            @media only screen and (max-width: 1024px) {
                display: block;
                padding: 15px 20px; 
                color: $black-col;
                border-bottom: 1px solid #ddd;
                font-size: 15px;
                line-height: 15px;
            } 
            cursor: pointer;
            &:hover{
                color: $org-col;
            }
        }
        .sub-menu{
            display: none;
            width: 300px;
            position: absolute;
            top: 68px;
            padding: 0;
            border: 1px solid #F1F1F1;
            border-top: 2px solid $dark-org-col;
            background-color: #fff;
            box-shadow: 0px 3px 5px 0 rgba(49, 51, 57, 0.3);
            @media only screen and (max-width: 1024px) { 
                display: block;
                width: 100%;
                position: static;
                border: 0;
                background-color: #fff;
                box-shadow: none;
                border-bottom: 1px solid #ddd;
            }
            li{
                display: block;
                margin: 0;
                text-align: center;
                border-top: 1px solid #ECEFF3; 
                // &:first-child, &:last-child{
                //     margin: 0; 
                // }   
                @media only screen and (max-width: 1024px) { 
                    text-align: left;
                    border: 0;
                    margin: 0;
                    padding: 0; 
                }
                .sticky-nav-tab{
                    padding: 25px 15px;
                    @media only screen and (max-width: 1024px) { 
                        padding: 10px 35px;
                        border: 0;
                    }
                    &:hover{
                        color: #EB3300;
                    }
                }
                &.active{
                    .sticky-nav-tab{
                        color: #EB3300; 
                    }
                }
            }
        }
        &.services{
            .sub-menu{
                left: -110px; 
            }
        }
        &.support{
            .sub-menu{
                left: -110px; 
            }
        }
        &.active{
            .sticky-nav-tab{
                color: $org-col;  
            }
            .sub-menu{
                .sticky-nav-tab{
                    color: #8D8788; 
                } 
            }
            
        }
        &:hover{
            .sub-menu{
                display: block;  
            }            
        }
    }
}
.icon-burger {
    @media only screen and (max-width: 1024px) { 
        width: 45px;
        height: 45px;
        position: relative;
        float: right;
        cursor: pointer;
        z-index: 9;
    }    
}
.burger-patty{
    @media only screen and (max-width: 1024px) {
        margin: -2px auto;
        width: 28px;
        height: 3px;
        display: block;
        position: absolute;
        top: 50%;
        right: 0;
        left: 0;
        background: $dark-org-col; 
        -webkit-transition: -webkit-transform 0.2s ease;
        -o-transition: -o-transform 0.2s ease;
        transition: transform 0.2s ease;
    }     
    &:first-child {
        @media only screen and (max-width: 1024px) {
            -webkit-transform: translateY(-9px);
            -ms-transform: translateY(-9px);
            -o-transform: translateY(-9px);
            transform: translateY(-9px);
        }    
    }    
    &:last-child {
        @media only screen and (max-width: 1024px) {
            -webkit-transform: translateY(9px);
            -ms-transform: translateY(9px);
            -o-transform: translateY(9px);
            transform: translateY(9px); 
        }     
    }
}
.icon-burger{
    &.is-open{
        .burger-patty{
            -webkit-transform: scale(0);
            -ms-transform: scale(0);
            -o-transform: scale(0);
            transform: scale(0);
            &:first-child {
                -webkit-transform: rotate(45deg);
                -ms-transform: rotate(45deg);
                -o-transform: rotate(45deg);
                transform: rotate(45deg);
            } 
            &:last-child{ 
                -webkit-transform: rotate(-45deg);
                -ms-transform: rotate(-45deg);
                -o-transform: rotate(-45deg);
                transform: rotate(-45deg);
            }    
        }
    }
} 
.open-slide {
    @media only screen and (max-width: 1024px) {
        height: 350px;
        border-bottom: 1px solid #ddd;
        overflow-y: auto; 
    }     
}    